task:
  buildImage:
    baseImage: moby/buildkit:v0.15.2
  helmUpgrade:
    baseImage: alpine/helm:3.15.4

prefix: "cicd-monofolio"

secrets:
  dockerAuthConfig: "docker-auth-config"
  kubeconfig: "kubeconfig"
  githubTokenApi: "github-token"
  discordWebhook: "discord-webhook"
  githubTokenWebhook: "github"

secretVault:
  github_key: ""

annotations:
  common:
    app.kubernetes.io/name: Monofolio

build:
  back:
    folder:
    - "apps/back/"
    - "libs/back/"
    - "folio_content/"
    - "Cargo.toml"
    - "build/back/"
    - "deploy/back/"
    - "apps/pong/"
    file_path: "build/back"
    helm: "deploy/back"
    imageName: "back"
  front:
    folder:
    - "apps/front/"
    - "libs/front/"
    - "package.json"
    - "yarn.lock"
    - "build/front/"
    - "deploy/front/"
    file_path: "build/front"
    helm: "deploy/front"
    imageName: "front"

image:
  registry: "docker.io/batleforc"
  harbor:
    project: "batleforc"
    image: monofolio
    endpoint: "harbor.dev.mono-folio.com"

config:
  domain: '{{- template "mychart.name" . }}.dev.mono-folio.com'
  ingressClass: "traefik"
  listenerDomain: "el-{{.Values.config.prefix}}-event-listener.dev.mono-folio.com"
  name: "batleforc"
  baseUrl: "https://{{.Values.config.domain}}/"
